
x8d.org {
    encode gzip
    log {
      output file /var/log/caddy.log
    }
		respond "Wu tang for the children"
}

fonts.x8d.org {
    encode gzip
    log {
      output file /var/log/fonts.log
    }
    root * /var/www/fonts
    file_server
}

interest.x8d.org {
    encode gzip
    log {
      output file /var/log/interest.log
    }
    root * /var/www/interest
    file_server
}

files.x8d.org {
    encode gzip
    log {
      output file /var/log/files.log
    }
    root * /var/www/files
    file_server
}

zalgo.x8d.org {
    encode gzip
    log {
      output file /var/log/zalgo.log
    }
    root * /var/www/zalgo
    file_server
}

ascii.x8d.org {
    encode gzip
    log {
      output file /var/log/ascii.log
    }
    root * /var/www/ascii
    file_server
}

sodslaw.x8d.org {
    encode gzip
    log {
      output file /var/log/sodslaw.log
    }
    root * /var/www/sodslaw
    file_server
}

fonts.dolegi.com {
    encode gzip
    root * /var/www/fonts
    file_server
}

interest.dolegi.com {
    encode gzip
    root * /var/www/interest
    file_server
}

files.dolegi.com {
    encode gzip
    root * /var/www/files
    file_server
}

zalgo.dolegi.com {
    encode gzip
    root * /var/www/zalgo
    file_server
}

ascii.dolegi.com {
    encode gzip
    root * /var/www/ascii
    file_server
}

:8080 {
  encode gzip
  root * /var/www/goaccess
  file_server
}

