body {
  font-family: 'Roboto', sans-serif;
  background-color: white
  text-align: center;
  font-size: 2em;
}

.card {
  text-align: left;
  user-select: none;
}

.card .inner {
  position: relative;
  padding: 2%;
  padding-right: 7%;
  padding-left: 7%;
  top: 1em;
  background-color: white;
  width: 100%;
}

a:hover {
  background-color: #E0E0E0;
}

a {
  color: black;
  text-decoration: none;
  border-radius: 2px;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 30px;
}

#content {
  display: block;
  min-height: 100%;
}

#paintMe {
  min-height: 100%;
}
